$splash-color: #4a148c;
$splash-opacity: 0.55;
$nav-color: black;
$nav-opacity: 0.1;

.btn-block{
  display:block !important;
  width:100% !important;
}

.btn-block-margin{
	display:block !important;
	width:100% !important;
	margin-bottom: 2px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

main {
  flex: 1 0 auto;
}


.splash .no-bottom-margin{
	margin-bottom: 0;
	margin-top: 4rem;
	padding-top: 2.5rem;
	padding-bottom: 2.75rem;
}

header .splash{
	background:
		linear-gradient(
		  rgba($splash-color, $splash-opacity),
		  rgba($splash-color, $splash-opacity)
		),
		url("/images/splash.jpeg");
	max-width: 100%;
	height: auto;
	background-size: cover;
}

nav.no-color{
	box-shadow: none;
	background:
	linear-gradient(
	  rgba($nav-color, $nav-opacity),
	  rgba($nav-color, $nav-opacity)
	),
	 transparent !important;
	position: absolute;
	width: 100%;
}

nav .nav-wrapper{
	a.button-collapse{
		padding-left: 1.2rem;
	}
  ul.hide-on-med-and-down{
  	display: flex;
  	flex-flow: row;
  	justify-content: space-around;
  	li{
    float: none;
    display: inline-flex;
	    a{
	        font-size: 2rem !important;
	        display: block;
	        width: 100%;
	        margin-top: -3px;

	        &:hover{
	        	color: #ff9800 !important;
	        }
	    }
  	}
  }
}

.card{
	a.btn{
		margin-right: 2px !important;
		margin-left: 2px !important;

	}
}

.social-buttons{
	a.btn{
		margin-right: 0.5rem;
	}
}

footer.page-footer{
	i.medium{
		font-size: 1.5rem;
		padding-right: 1.25rem;
	}
	i.medium.envelope-o{
		font-size: 1rem;
		padding-right: 0rem;
	}

	.container{
		padding-bottom: 1.1rem;
	}

	.footer-icons{
		padding-top: 0.3rem;
	}
}

a.lightbox-gallery-image{
	margin: 0;
	padding: 0;
	display: none;
}
.row.no-bottom-margin
{
	margin-bottom: 0px;
	padding-bottom: 0;
}

