$splash-color: #4a148c;
$splash-opacity: 0.55;
$nav-color: black;
$nav-opacity: 0.1;

.container{
	width: 80% !important;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

main {
  flex: 1 0 auto;
}


.splash .no-bottom-margin{
	margin-bottom: 0;
	margin-top: 5.5rem;
	padding-bottom: 2.75rem;
	padding-top: 2.75rem;

}

header .splash{
	background:
		linear-gradient(
		  rgba($splash-color, $splash-opacity),
		  rgba($splash-color, $splash-opacity)
		),
		url("/images/splash.jpeg");
	max-width: 100%;
	height: auto;
	background-size: cover;
}

nav.no-color{
	box-shadow: none;
	background:
	linear-gradient(
	  rgba($nav-color, $nav-opacity),
	  rgba($nav-color, $nav-opacity)
	),
	 transparent !important;
	position: absolute;
	width: 100%;
}

nav .nav-wrapper{
  ul.hide-on-med-and-down{
  	display: flex;
  	flex-flow: row;
  	justify-content: space-around;
  	li{
    float: none;
    display: inline-flex;
	    a{
	        font-size: 2rem !important;
	        display: block;
	        width: 100%;
	        margin-top: -3px;
	    }
  	}
  }
}

.card{
	a.btn{
		margin-right: 2px !important;
		margin-left: 2px !important;

	}
}

.social-buttons{
	a.btn{
		margin-right: 0.5rem;
	}
}

