.row
.row
	.col.l7.s12
		%h4 About
		%a{name: "about"}
		%p My name is Praveen Perera and I am a full stack developer residing in Oakville ON, Canada. I started developing simple websites with vanilla HTML/CSS and javascript 5 years ago. I also have 3 years of development experience with Ruby and Ruby on Rails.

		Recently I have been exploring functional programming with <a href="http://elixir-lang.org">Elixir</a> and the <a href="http://www.phoenixframework.org">Phoenix Framework</a>. In fact this website is my first Elixir/Phoenix project. The <a href="https://github.com/praveenperera/praveenperera">code for this website</a> can be found on my Github along with some of my other projects.
		%p
		.social-buttons.hide-on-small-only
			%a.waves-effect.waves-light.btn.purple.darken-4{href: "https://github.com/praveenperera?tab=repositories"}
				%i.fa.fa-github.left
				Github
			%a.waves-effect.waves-light.btn.purple.darken-4{href: "https://www.linkedin.com/pub/praveen-perera/64/687/85b"}
				%i.fa.fa-linkedin-square.left
				LinkedIn
			%a.waves-effect.waves-light.btn.purple.darken-4{href: "mailto:contact@praveenperera.com", target: "_self"}
				%i.fa.fa-envelope-o.left
				Email
		.social-buttons.hide-on-med-and-up
			%a.waves-effect.waves-light.btn.btn-block-margin.purple.darken-4{href: "https://github.com/praveenperera?tab=repositories"}
				%i.fa.fa-github.left
				Github
			%a.waves-effect.waves-light.btn.btn-block-margin.purple.darken-4{href: "https://www.linkedin.com/pub/praveen-perera/64/687/85b"}
				%i.fa.fa-linkedin-square.left
				LinkedIn
			%a.waves-effect.waves-light.btn.btn-block-margin.purple.darken-4{href: "mailto:contact@praveenperera.com", target: "_self"}
				%i.fa.fa-envelope-square.left
				Email
		%br
	.col.l4.s12
		%h5.orange-text Information
		%ul.collection.z-depth-1
			%li.collection-item
				%b Name:&nbsp;
				Praveen Perera
			%li.collection-item
				%b Age:&nbsp
				23 years old
			%li.collection-item
				%b Email:&nbsp
				contact@praveenperera.com
			%li.collection-item
				%b Location:&nbsp
				Oakville, Canada
			%li.collection-item
				%b Alma Mater:&nbsp
				Queen's University
			%li.collection-item
				%b Skills:&nbsp
				Ruby, Ruby on Rails, Elixir, Phoenix, TDD, PostgreSQL, JS/jQuery, React.js, HTML/CSS, Sass, Brunch.io, Bootstrap, MaterializeCSS, Semantic UI
.row
	.col.s12
		%a{name: "projects"}
		%h4 Projects
	.col.s12.l6
		.card
			.card-content.black-text
				%span.card-title.black-text Queen's Rideshare
				%p
					Platform for Queen's University students to share rides between home and Kingston, or anywhere in between. Built with Ruby on Rails and Bootstrap 3 on the frontend. Compelete with email like messaging system to communicate with other users.
			.card-action.hide-on-medium-large-and-down
				%a.waves-effect.waves-light.btn.white-text.purple.darken-4{href: "images/screenshots/qride/home.png", target: "_self", data-lightbox: "qride", data-title: "This is the home page, it has a list of available rides. You can also search for rides, post a ride, or a join a ride."}
					%i.fa.fa-camera-retro.left
					Preview
				%a.lightbox-gallery-image{href: "images/screenshots/qride/post_ride.png", data-lightbox: "qride", data-title: "From this page you can post a ride and add a description."}
				%a.lightbox-gallery-image{href: "images/screenshots/qride/convos.png", data-lightbox: "qride", data-title: "There is a fully functional conversations page so you can contact other users."}
				%a.lightbox-gallery-image{href: "images/screenshots/qride/signup.png", data-lightbox: "qride", data-title: "Sign up page"}
				%a.lightbox-gallery-image{href: "images/screenshots/qride/login.png", data-lightbox: "qride", data-title: "Login page"}
				%a.waves-effect.waves-light.btn.white-text.purple.darken-4{href: "http://qrideshare.praveenperera.com"}
					%i.fa.fa-safari.left
					Demo
				%a.waves-effect.waves-light.btn.white-text.purple.darken-4{href: "https://github.com/praveenperera/qrideshare"}
					%i.fa.fa-file-code-o.left
					Code
			.card-action.hide-on-medium-large-and-up
				%a.waves-effect.waves-light.btn.btn-block-margin.white-text.purple.darken-4{href: "images/screenshots/qride/home.png", target: "_self", data-lightbox: "qride mobile", data-title: "This is the home page, it has a list of available rides. You can also search for rides, post a ride, or a join a ride."}
					%i.fa.fa-camera-retro.left
					Preview
				%a.lightbox-gallery-image{href: "images/screenshots/qride/post_ride.png", data-lightbox: "qride mobile", data-title: "From this page you can post a ride and add a description"}
				%a.lightbox-gallery-image{href: "images/screenshots/qride/convos.png", data-lightbox: "qride mobile", data-title: "There is a fully functional conversations page so you can contact other users"}
				%a.lightbox-gallery-image{href: "images/screenshots/qride/signup.png", data-lightbox: "qride mobile", data-title: "Sign up page"}
				%a.lightbox-gallery-image{href: "images/screenshots/qride/login.png", data-lightbox: "qride mobile", data-title: "Login page"}
				%a.waves-effect.waves-light.btn.btn-block-margin.white-text.purple.darken-4{href: "http://qrideshare.praveenperera.com"}
					%i.fa.fa-safari.left
					Demo
				%a.waves-effect.waves-light.btn.btn-block-margin.white-text.purple.darken-4{href: "https://github.com/praveenperera/qrideshare"}
					%i.fa.fa-file-code-o.left
					Code
	.col.s12.l6
		.card
			.card-content.black-text
				%span.card-title.black-text Video Learning
				%p
					Platform to launch free and paid video courses. Built with Ruby on Rails and MaterializeCSS on the front end. Complete with stripe payments,
					3rd party authentication system and simple CMS to manage video courses.
			.card-action.hide-on-medium-large-and-down
				%a.waves-effect.waves-light.btn.white-text.purple.darken-4{href: "images/screenshots/vl/project.png", target: "_self", data-lightbox: "video learning", data-title: "The course page, includes description, reviews and overall rating of the course. Also includes the price with a link to join the project. Stripe is used for payments"}
					%i.fa.fa-camera-retro.left
					Preview
				%a.lightbox-gallery-image{href: "images/screenshots/vl/task.png", data-lightbox: "video learning", data-title: "Course page, contains all the videos and text tutorials"}
				%a.lightbox-gallery-image{href: "images/screenshots/vl/courses.png", data-lightbox: "video learning", data-title: "Contains the full course catalog"}
				%a.lightbox-gallery-image{href: "images/screenshots/vl/discussions.png", data-lightbox: "video learning", data-title: "Discussions page using disqus"}
				%a.lightbox-gallery-image{href: "images/screenshots/vl/signup.png", data-lightbox: "video learning", data-title: "Sign up page, sign up using email, facebook, google or github"}
				%a.waves-effect.waves-light.btn.white-text.purple.darken-4{href: "https://github.com/praveenperera/videolearning"}
					%i.fa.fa-file-code-o.left
					Code

			.card-action.hide-on-medium-large-and-up
				%a.waves-effect.waves-light.btn.btn-block-margin.white-text.purple.darken-4{href: "images/screenshots/vl/project.png", target: "_self", data-lightbox: "video learning mobile", data-title: "The course page, includes description, reviews and overall rating of the course. Also includes the price with a link to join the project. Stripe is used for payments"}
					%i.fa.fa-camera-retro.left
					Preview
				%a.lightbox-gallery-image{href: "images/screenshots/vl/task.png", data-lightbox: "video learning mobile", data-title: "Course page, contains all the videos and text tutorials"}
				%a.lightbox-gallery-image{href: "images/screenshots/vl/courses.png", data-lightbox: "video learning mobile", data-title: "Contains the full course catalog"}
				%a.lightbox-gallery-image{href: "images/screenshots/vl/discussions.png", data-lightbox: "video learning mobile", data-title: "Discussions page using disqus"}
				%a.lightbox-gallery-image{href: "images/screenshots/vl/signup.png", data-lightbox: "video learning mobile", data-title: "Sign up page, sign up using email, facebook, google or github"}
				%a.waves-effect.waves-light.btn.btn-block-margin.white-text.purple.darken-4{href: "https://github.com/praveenperera/videolearning"}
					%i.fa.fa-file-code-o.left
					Code
.row.center
	.col.s12
		%a.waves-effect.waves-light.btn.btn-large.white-text.orange.darken-4{href: "https://github.com/praveenperera?tab=repositories"}
			%i.fa.fa-github.left
			View All Repositories

.row
.row
	.col.l12.s12
		%a{name: "contact"}
		%h4 Contact
	.col.l8.m10.s12
		%p Have any questions? Need some website work or application development done? Just want to say Hi? Use the contact form below or <a href="mailto:contact@praveenperera.com">send me an email</a> to get in touch and I will reply as soon as possible. I look forward to hearing from you!
	%form.col.l8.m10.s12#contact_form{target: "_self"}
		.row
			.input-field.col.s12
				%input#name{type: "text", required: true}
				%label{for: "name"} Name
		.row
			.input-field.col.s12
				%input#email{type: "text", required: true}
				%label{for: "email"} Your Email Address
		.row
			.input-field.col.s12
				%textarea.materialize-textarea#message{type: "textarea", required: true}
				%label{for: "subject"} Message
		.row
			.input-field.col.s12
				%label.col-md-4.control-label{for: "submit"}
				%button#submit.btn.orange.darken-4{name: "submit"}
					Send Message
					%i.mdi-content-send.right

