.row
.row
	.col.l7.s12
		%h4 About
		%p My name is Praveen Perera and I am a full stack developer residing in Toronto, ON, Canada. I started developing simple websites with vanilla HTML/CSS and javascript 5 years ago. I also have 3 years of experience with Ruby and Ruby on Rails. And recently I have been exploring functional programming with Elixir and the Phoenix Framework. In fact this website is my first Elixir/Phoenix project.
		.social-buttons
			%a.waves-effect.waves-light.btn.purple.darken-4{href: "sass.html"}
				%i.fa.fa-github.left
				Github
			%a.waves-effect.waves-light.btn.purple.darken-4{href: "sass.html"}
				%i.fa.fa-linkedin-square.left
				LinkedIn
			%a.waves-effect.waves-light.btn.purple.darken-4{mailto: "contact@praveenperera.com"}
				%i.fa.fa-envelope-square.left
				Email
	.col.l4.s12
		%h5 Information
		%ul.collection.z-depth-1
			%li.collection-item
				%b Name: &nbsp;
				Praveen Perera
			%li.collection-item
				%b Age: &nbsp
				23 Years Old
			%li.collection-item
				%b Email: &nbsp
				contact@praveenperera.com
			%li.collection-item
				%b Location:  &nbsp
				Toronto, Canada
			%li.collection-item
				%b Alma Mater: &nbsp
				Queen's University
.row
	.col.s12
		%h4 Side Projects
	.col.s12.l6
		.card
			.card-content.black-text
				%span.card-title.black-text Queen's Rideshare
				%p
					I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.
			.card-action
				%a.waves-effect.waves-light.btn.white-text.purple.darken-4{href:"#"}
					%i.fa.fa-camera-retro.left
					Preview
				%a.waves-effect.waves-light.btn.white-text.purple.darken-4{href:"#"}
					%i.fa.fa-safari.left
					Demo
				%a.waves-effect.waves-light.btn.white-text.purple.darken-4{href:"#"}
					%i.fa.fa-file-code-o.left
					Code
	.col.s12.l6
		.card
			.card-content.black-text
				%span.card-title.black-text Video Learning
				%p
					I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.
			.card-action
				%a.waves-effect.waves-light.btn.white-text.purple.darken-4{href:"#"}
					%i.fa.fa-camera-retro.left
					Preview
				%a.waves-effect.waves-light.btn.white-text.purple.darken-4{href:"#"}
					%i.fa.fa-safari.left
					Demo
				%a.waves-effect.waves-light.btn.white-text.purple.darken-4{href:"#"}
					%i.fa.fa-file-code-o.left
					Code
-# .row.center-align
	-# .col.s12
	-# 	%a.waves-effect.waves-light.btn.btn-large.white-text.purple.darken-4{href:"#"} View All Repositories

