.row
.row
	.col.l7.s12
		%h4 About
		%a{name: "about"}
		%p My name is Praveen Perera and I am a full stack developer residing in Toronto, ON, Canada. I started developing simple websites with vanilla HTML/CSS and javascript 5 years ago. I also have 3 years of experience with Ruby and Ruby on Rails. And recently I have been exploring functional programming with Elixir and the Phoenix Framework. In fact this website is my first Elixir/Phoenix project.
		.social-buttons.hide-on-small-only
			%a.waves-effect.waves-light.btn.purple.darken-4{href: "https://github.com/praveenperera?tab=repositories"}
				%i.fa.fa-github.left
				Github
			%a.waves-effect.waves-light.btn.purple.darken-4{href: "https://www.linkedin.com/pub/praveen-perera/64/687/85b"}
				%i.fa.fa-linkedin-square.left
				LinkedIn
			%a.waves-effect.waves-light.btn.purple.darken-4{href: "mailto:contact@praveenperera.com"}
				%i.fa.fa-envelope-square.left
				Email
		.social-buttons.hide-on-med-and-up
			%a.waves-effect.waves-light.btn.btn-block-margin.purple.darken-4{href: "https://github.com/praveenperera?tab=repositories"}
				%i.fa.fa-github.left
				Github
			%a.waves-effect.waves-light.btn.btn-block-margin.purple.darken-4{href: "https://www.linkedin.com/pub/praveen-perera/64/687/85b"}
				%i.fa.fa-linkedin-square.left
				LinkedIn
			%a.waves-effect.waves-light.btn.btn-block-margin.purple.darken-4{href: "mailto:contact@praveenperera.com"}
				%i.fa.fa-envelope-square.left
				Email
		%br
	.col.l4.s12
		%h5.orange-text Information
		%ul.collection.z-depth-1
			%li.collection-item
				%b Name: &nbsp;
				Praveen Perera
			%li.collection-item
				%b Age: &nbsp
				23 Years Old
			%li.collection-item
				%b Email: &nbsp
				contact@praveenperera.com
			%li.collection-item
				%b Location:  &nbsp
				Toronto, Canada
			%li.collection-item
				%b Alma Mater: &nbsp
				Queen's University
.row
	.col.s12
		%a{name: "projects"}
		%h4 Side Projects
	.col.s12.l6
		.card
			.card-content.black-text
				%span.card-title.black-text Queen's Rideshare
				%p
					I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.
			.card-action.hide-on-small-only
				%a.waves-effect.waves-light.btn.white-text.purple.darken-4{href: "#"}
					%i.fa.fa-camera-retro.left
					Preview
				%a.waves-effect.waves-light.btn.white-text.purple.darken-4{href: "http://qrideshare.praveenperera.com"}
					%i.fa.fa-safari.left
					Demo
				%a.waves-effect.waves-light.btn.white-text.purple.darken-4{href: "https://github.com/praveenperera/qrideshare"}
					%i.fa.fa-file-code-o.left
					Code
			.card-action.hide-on-med-and-up
				%a.waves-effect.waves-light.btn.btn-block-margin.white-text.purple.darken-4{href: "#"}
					%i.fa.fa-camera-retro.left
					Preview
				%a.waves-effect.waves-light.btn.btn-block-margin.white-text.purple.darken-4{href: "http://qrideshare.praveenperera.com"}
					%i.fa.fa-safari.left
					Demo
				%a.waves-effect.waves-light.btn.btn-block-margin.white-text.purple.darken-4{href: "https://github.com/praveenperera/qrideshare"}
					%i.fa.fa-file-code-o.left
					Code
	.col.s12.l6
		.card
			.card-content.black-text
				%span.card-title.black-text Video Learning
				%p
					I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.
			.card-action.hide-on-small-only
				%a.waves-effect.waves-light.btn.white-text.purple.darken-4{href: "#"}
					%i.fa.fa-camera-retro.left
					Preview
				%a.waves-effect.waves-light.btn.white-text.purple.darken-4{href: "http://videolearning.praveenperera.com"}
					%i.fa.fa-safari.left
					Demo
				%a.waves-effect.waves-light.btn.white-text.purple.darken-4{href: "https://github.com/praveenperera/videolearning"}
					%i.fa.fa-file-code-o.left
					Code
			.card-action.hide-on-med-and-up
				%a.waves-effect.waves-light.btn.btn-block-margin.white-text.purple.darken-4{href: "#"}
					%i.fa.fa-camera-retro.left
					Preview
				%a.waves-effect.waves-light.btn.btn-block-margin.white-text.purple.darken-4{href: "http://videolearning.praveenperera.com"}
					%i.fa.fa-safari.left
					Demo
				%a.waves-effect.waves-light.btn.btn-block-margin.white-text.purple.darken-4{href: "https://github.com/praveenperera/videolearning"}
					%i.fa.fa-file-code-o.left
					Code
.row.center
	.col.s12
		%a.waves-effect.waves-light.btn.btn-large.white-text.orange.darken-4{href: "https://github.com/praveenperera?tab=repositories"} View All Repositories
-# .row
-# 	.col.s12
-# 		%h4 Contact
-# 		%a.waves-effect.waves-light.btn.btn-large.white-text.purple.darken-4{href:"https://github.com/praveenperera?tab=repositories"} View All Repositories

